.game-info {
  display: flex;
  justify-content: space-between;

  .right {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 10px;
    }

    div > * {
      display: inline;
      margin-left: 15px;
    }
  }
}
